.recommended-container
    background: #ffffff
    width: 955px
    height: 450px
    position: absolute
    top: 262px
    left: 244px
    border-radius: 4px
    box-shadow: 0px 4px 40px 0px #00000040
    position: absolute
    bottom: 53px
    display: flex
    flex-direction: column
    justify-content: center
    .top-heading
        position: absolute
        top: 20px
        left: 40px
    .sub-heading
        position: relative
        bottom: 20px
        right: 330px
        font-family: 'Inter'
        font-style: normal
        font-weight: 500
        font-size: 21.9718px
        line-height: 27px
        color: #000000
@media (max-width: 768px)
    .recommended-container
        width: 380px
        height: 450px
        position: absolute
        top: 192px
        left: 5px
        display: flex
        flex-direction: column
        justify-content: center
        .top-heading
            position: absolute
            top: 0px
            left: 5px
            
        
