.recommended-container
    background: #ffffff
    width: 1025px
    height: 667px
    position: absolute
    top: 262px
    left: 244px
    border-radius: 4px
    box-shadow: 0px 4px 40px 0px #00000040
