.clothes-grid
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    position: relative
    right: 0px
    top: 0px
    .clothing-item
        flex-direction: row
        margin: 0 1.5% /* Add some margin to the sides of the items */
        .cloth-image
            width: 155px
            height: 170px
        .cloth-name
            position: absolute
            justify-content: flex-start
            font-family: 'Inter'
            font-style: normal
            font-weight: 300
            font-size: 14px
            line-height: 17px
@media (max-width: 768px)
    .clothes-grid
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        justify-content: space-between
        .clothing-item
            position: relative
            bottom: 60px
            flex: 0 0 0%
            justify-content: center
            justify-content: space-between
            .cloth-image
                padding-right: 0px
                width: 55px
                height: 70px
                .cloth-name
                    position: relative
                    top: 0px
                    font-family: 'Inter'
                    font-style: normal
                    font-weight: 300
                    font-size: 14px
                    line-height: 17px
