.clothing-grid
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    .clothing-item
        margin: 0 1% /* Add some margin to the sides of the items */
        position: relative
        bottom: 440px
        justify-content: center
        justify-content: space-between
    
    .cloth-image
        width: 255px
        height: 225px
    .cloth-name
        color: #000000
        font-family: 'Inter'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 24px
        position: relative
        right: 20px
    .price-tags
        display: flex
        flex-direction: row
        gap: 20px
        .price-1
            color: rgba(0,0,0,0.4)
            font-family: 'Inter'
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 24px
            text-decoration-line: line-through
        .price-2
            color: #6D84FF
            font-family: 'Inter'
            font-style: normal
            font-weight: 600
            font-size: 20px
            line-height: 24px
    .rate
        display: flex
        flex-direction: row
        gap: 5px
        .review-no
            color: rgba(0,0,0,0.8)
            font-family: 'Poppins'
            font-style: normal
            font-weight: 300
            font-size: 14px
            line-height: 21px
            text-align: center
            position: relative
            top: 5px

