.bg-image
    background-image: url("https://s3-alpha-sig.figma.com/img/0106/3d18/863e50cc601d1e4790f6a190df701d4b?Expires=1682294400&Signature=VtqmLV87cpySGa6mCiRPDDiFTzwYoBQOZsgM5WmqpgHN5PXYHBFF~ql-G~xQ~k651MFyHlp8Y6xG9mLFLX70t22md2kNrWEanBudJ5Lr2RJbejoEcb3iEn1LeRlsJBmBsX~33ueeWjg0ORvUp2uO6ttghwYDh6IY8pWtSakt8oojnhdkXwMhStmBXBjqep7pIq7Tiy~2onABZTCN1OzleniXtL1PCbsloDsCdfbI87BWpIeoFspan6Biz8DAw-fs9I0SeBfMhmEgJ2xzZIz5PsVXmvhryngaaVzRwyQYkcQ3eISfz5jsNRZTwHDH74PzM-sYdsnmOQKpHiDsIhV5MQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4")
    background-size: cover
    width: 100%
    height: 100vh
    display: flex
    justify-content: center
    .search-bar
        position: relative
        top: 162px
        input:focus
            outline: none
    .zevi-logo
        position: absolute
        top: 40px
        right: 40px
        width: 86px
        height: 44.69px
@media (max-width: 768px) 
  .bg-image
    background-position: center center
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover
    width: 100%
    height: 100vh
    background-size: cover
    .search-bar
        position: relative
        top: 100px
    .zevi-logo
        position: absolute
        top: 40px
        right: 40px
        width: 86px
        height: 44.69px
    
        